@(unreadNum : Integer, startTime : String, status : String, startHours : java.util.List[Integer], endHours : java.util.List[Integer], slotChosen:String)

<head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href='http://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" type="text/css" href="@routes.Assets.at("stylesheets/bootmetro.css")">
        <link rel="stylesheet" type="text/css" href="@routes.Assets.at("stylesheets/bootmetro-responsive.css")">
        <link rel="stylesheet" type="text/css" href="@routes.Assets.at("stylesheets/bootmetro-icons.css")">
        <link rel="stylesheet" type="text/css" href="@routes.Assets.at("stylesheets/bootmetro-ui-light.css")">
        <link rel="stylesheet" type="text/css" href="@routes.Assets.at("stylesheets/bootstrap/simple-sidebar.css")">
        <link rel="stylesheet" type="text/css" href="@routes.Assets.at("formvalidation/formValidation.css")">
        <script src="@routes.Assets.at("javascripts/bootstrap/jquery.js")"></script>
        <script src="@routes.Assets.at("javascripts/bootstrap/bootstrap.js")"></script>
        <script src="@routes.Assets.at("formvalidation/formValidation.js")"></script>
        <script src="@routes.Assets.at("formvalidation/bootstrap.js")"></script>
        <div class="navbar">
        <div class="navbar-inner">
             <div class="row-fluid">
                 <div class="span6">
                    <a class="brand" href="#">TeamedUp</a>
                     <ul class="nav">
                        <li><a href="/mainPage">Main Page</a></li>
                        @if(Application.currentTeam != null){
                        <li><a href="/teamPage/@Application.currentTeam.teamName">Team @Application.currentTeam.teamName</a></li>                        
                        }
                        <li class="active"><a href="#">Time slots</a></li>
                    </ul>
                 </div>
                 <div class="span6" align="right">
                     <div class="btn-group">
                        <button class="btn" href="#menu-toggle" id="menu-toggle">Daily schedule</button>
                        <form action="/profile/@Application.currentClient.email">
                            <button class="btn" href="/profile">Profile</button>
                        </form>
                            <button class="btn" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false" href="#"><span class="badge">@unreadNum</span> unread</button>
                            <ul class="dropdown-menu pull-right unread" role="menu" arie-labelledby="dLabel">
                            @for(task <- Unread.getUnreadTasks(Application.currentClient)) {
                                <li>
                                    @helper.form(routes.Application.redirectUnreadTask(task.taskId)) {
                                    <a href="#" onclick="$(this).closest('form').submit()">A new task: @task.taskName</a><br>
                                    }
                                </li>
                            }<hr>
                            @for(event <- Unread.getUnreadEvents(Application.currentClient)) {
                                <li>
                                    @helper.form(routes.Application.redirectUnreadEvent(event.id)) {
                                    <a href="#" onclick="$(this).closest('form').submit()">@event.ownerName created event @event.eventName</a><br>
                                    }
                                </li>
                            }<hr>
                            @for(comment <- Unread.getUnreadComments(Application.currentClient)) {
                                <li>
                                    @helper.form(routes.Application.redirectUnreadComment(comment.id)) {
                                    <a href="#" onclick="$(this).closest('form').submit()">@comment.ownerName commented:</strong>  @comment.content</a><br>
                                    }
                                </li>
                            }
                            </ul>
                        
                        @helper.form(routes.Application.logout()) {
                            <button class="btn" href="/landing">Logout</button> 
                        }
                     </div>
                </div>
             </div>
          </div>
        @if(status.length() >0){
        
        @if(status.equals("success")){
         <div class="alert alert-success">
          <button type="button" class="close" data-dismiss="alert"><a data-dismiss="alert" href="#"></a></button>
          Event is successfully created, waiting for other members to comfirm.
        </div>
        } else{
        <div class="alert alert-danger">
          <button type="button" class="close" data-dismiss="alert"><a data-dismiss="alert" href="#"></a></button>
          <strong>Warning!</strong> There must have been an error in your entered details. Please try again.
        </div>
        }
        <script>
            $(".alert").alert()     
        </script>
        }
                <script type="text/javascript" src="@routes.Assets.at("javascripts/bootstrap.min.js")"></script> 
          
       </div>
    </head>

<body>
        <div id="wrapper" class="toggled">
            <div id="sidebar-wrapper">
                <ul class="sidebar-nav">
                    <div align="center">
                        @helper.form(routes.Application.eventPage()) {
                            <button id="not-shit-text" style="padding: 2px 2px; background-color: #366b96; color: white; margin-top: 8px;" type="submit">Create a new event</button><br>
                        }   
                    </div> 
                   <div class="container">
                   <hr>
                    @for(e <- Event.findDailySchedule(Application.currentClient)){
                        <li>    
                            
                            @helper.form(routes.Application.showEventInfo(e.eventName)) {
                                <ul style="color: white;">
                                <a href="#" style="color: white; text-decoration: underline;" onclick="$(this).closest('form').submit()"><h3>@e.eventName</h3></a>
                                <li id="li-event">At @e.location</li>
                                <li id="li-event">Start: @e.startTime</li>
                                <li id="li-event">End: @e.endTime</li>
                                </ul>
                            }
                            <hr>
                        </li>
                    }
                    </div>
                </ul>
            </div>
        </div>
<div class="container" align="center">
    <h1>Create a new event</h1>
    <div class="container well" align="center">
       <form id="defaultForm" action="/createEvent/@startTime/@slotChosen" method="POST">
                            <div class="form-group">
                                <label class="col-sm-3 control-label">Event Name</label>
                                <div class="col-sm-4">
                                <input style="margin-bottom: 0px;" type="text" class="form-control" name="eventName" placeholder="event name">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-3 control-label">Starts</label>
                                <div class="col-sm-4">
                                <select name="slotChosenStart" class="form-control" id="st" onchange="check()">
                                    @for(stH <- startHours){
                                        <option value="@stH">@stH</option>
                                    }
                                </select>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-3 control-label">Ends</label>
                                <div class="col-sm-4">
                                    <select name="slotChosenEnd" class="form-control" id="en" onchange="check()">
                                        @for(end <- endHours){
                                            <option value="@end">@end</option>
                                        }
                                    </select>    
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-3 control-label">Location</label>
                                <div class="col-sm-4">
                                <input style="margin-bottom: 0px;" type="text" class="form-control" name="location" placeholder="location"><br>
                                </div>
                            </div>            
                            <div class="form-group">
                                <label class="col-sm-3 control-label">Description</label>
                                <div class="col-sm-4">
                                <textarea type="text" class="form-control" name="content" cols="40" rows="5" placeholder="description"></textarea><br>
                                </div>
                            </div> 
                           <button type="submit">Create</button><br>
       </form>
   </div>
</div>
        <script>
            function check(){
                if(document.getElementById("en").value - 1 < document.getElementById("st").value - 1){
                    console.error(document.getElementById("en").value + " " + document.getElementById("st").value);
                    document.getElementById("en").value = parseInt(document.getElementById("st").value) + 1;
                }                
            }
        </script>
                <!-- Menu Toggle Script -->
        <script>
        $("#menu-toggle").click(function(e) {
            $("#wrapper").toggleClass("toggled");
        });
        </script>
        <!-- DropDown -->
        <script>$('.dropdown-toggle').dropdown()</script>
            <script type="text/javascript">
            $(document).ready(function() {
                $('#defaultForm').formValidation({
                    message: 'This value is not valid',
                    icon: {
                        valid: 'glyphicon glyphicon-ok',
                        invalid: 'glyphicon glyphicon-remove',
                        validating: 'glyphicon glyphicon-refresh'
                    },
                    fields: {
                        eventName: {
                            row: '.col-sm-4',
                            validators: {
                                notEmpty: {
                                    message: 'Name is required'
                                }
                            }
                        },
                        location: {
                            validators: {
                                notEmpty: {
                                    message: 'Location is required'
                                }
                            }
                        }
                    }
                });
            });
            </script>
</body>
