@(client: models.Client)

<!DOCTYPE html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href='http://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" type="text/css" href="@routes.Assets.at("stylesheets/bootmetro.css")">
        <link rel="stylesheet" type="text/css" href="@routes.Assets.at("stylesheets/bootmetro-responsive.css")">
        <link rel="stylesheet" type="text/css" href="@routes.Assets.at("stylesheets/bootmetro-icons.css")">
        <link rel="stylesheet" type="text/css" href="@routes.Assets.at("stylesheets/bootmetro-ui-light.css")">
        <link rel="stylesheet" type="text/css" href="@routes.Assets.at("stylesheets/bootstrap/simple-sidebar.css")">
        <script src="@routes.Assets.at("javascripts/bootstrap/jquery.js")"></script>
        <script src="@routes.Assets.at("javascripts/bootstrap/bootstrap.js")"></script>
        <div class="navbar">
        <div class="navbar-inner">
             <div class="row-fluid">
                 <div class="span6">
                    <a class="brand" href="#">TeamedUp</a>
                     <ul class="nav">

                    </ul>
                 </div>
                 <div class="span6" align="right">
                     <div class="btn-group">
                        <button class="btn" href="#menu-toggle" id="menu-toggle">Daily schedule</button>
                        <form action="/profile/@Application.currentClient.email">
                            <button class="btn" href="/profile">Profile</button>
                        </form>
                            <button class="btn" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false" href="#"><span class="badge">@Unread.getUnreadNum(Application.currentClient)</span> unread</button>
                            <ul class="dropdown-menu pull-right unread" role="menu" arie-labelledby="dLabel">
                            @for(task <- Unread.getUnreadTasks(Application.currentClient)) {
                                <li>
                                    @helper.form(routes.Application.redirectUnreadTask(task.taskId)) {
                                    <a href="#" onclick="$(this).closest('form').submit()">A new task: @task.taskName</a><br>
                                    }
                                </li>
                            }<hr>
                            @for(event <- Unread.getUnreadEvents(Application.currentClient)) {
                                <li>
                                    @helper.form(routes.Application.redirectUnreadEvent(event.id)) {
                                    <a href="#" onclick="$(this).closest('form').submit()">@event.ownerName created event @event.eventName</a><br>
                                    }
                                </li>
                            }<hr>
                            @for(comment <- Unread.getUnreadComments(Application.currentClient)) {
                                <li>
                                    @helper.form(routes.Application.redirectUnreadComment(comment.id)) {
                                    @defining(if (comment.content.length() > 20) comment.content.substring(0,20) + "..." else comment.content) { cont =>
                                        <a href="#" onclick="$(this).closest('form').submit()">@comment.ownerName commented:</strong>  @cont</a><br>
                                    }
                                    }
                                </li>
                            }
                            </ul>
                        
                        <form action="/landing">
                            <button class="btn" href="/landing">Logout</button> 
                        </form>
                     </div>
                </div>
             </div>
          </div>
       </div>
    </head>
    
    <body class="fill">
            <div id="wrapper" class="toggled">
            <div id="sidebar-wrapper">
                <ul class="sidebar-nav">
                    <div align="center">
                        @helper.form(routes.Application.eventPage()) {
                            <button id="not-shit-text" style="padding: 2px 2px; background-color: #366b96; color: white; margin-top: 8px;" type="submit">Create a new event</button><br>
                        }   
                    </div> 
                   <div class="container">
                   <hr>
                    @for(e <- Event.findDailySchedule(Application.currentClient)){
                        <li>    
                            
                            @helper.form(routes.Application.showEventInfo(e.eventName)) {
                                <ul style="color: white;">
                                <a href="#" style="color: white; text-decoration: underline;" onclick="$(this).closest('form').submit()"><h3>@e.eventName</h3></a>
                                <li id="li-event">At @e.location</li>
                                <li id="li-event">Start: @e.startTime</li>
                                <li id="li-event">End: @e.endTime</li>
                                </ul>
                            }
                            <hr>
                        </li>
                    }
                    </div>
                </ul>
            </div>
        </div>
    <div class="container">
        <div class="row-fluid" id="fill">
            <br>
            <div class="span4 offset4 well well-small">
                <img src="@routes.Assets.at("images/default.jpg")">
                <img src=@client.image height="200" width="200" class="img-circle">
                    <!-- Modal -->
                    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                      <div class="modal-dialog">
                        <div class="modal-content">
                          <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                            <h4 class="modal-title" id="myModalLabel">Update your image</h4>
                          </div>
                          <div class="modal-body">
                              <div class="row-fluid">
                                    <div class="span4 offset4" align="center">
                                        @helper.form(routes.Application.updateImage()) {
                                            <input type="text" name="url" placeholder="Image URL"><br>
                                            <button type="submit">Update</button><br>
                                        }
                                    </div>
                                </div>
                          </div>
                          <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                          </div>
                        </div>
                      </div>
                    </div>
                @if(client.email.equals(Application.currentClient.email)){
                    <button data-toggle="modal" data-target="#myModal">Update picture</button>
                }
                <h1 align="center">@client.name </h1>
                <h2>E-mail: @client.email</h2>
            </div>
        </div>
    </div>

                <!-- Menu Toggle Script -->
        <script>
        $("#menu-toggle").click(function(e) {
            $("#wrapper").toggleClass("toggled");
        });
        </script>
        <!-- DropDown -->
        <script>$('.dropdown-toggle').dropdown()</script>
    </body>
</html>