@(teamName: String, teams : java.util.List[Team], tasks : java.util.List[Task], posts : java.util.List[Post], unreadNum : Integer)

@main(teamName) {
<!DOCTYPE html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href='http://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" type="text/css" href="@routes.Assets.at("stylesheets/bootmetro.css")">
        <link rel="stylesheet" type="text/css" href="@routes.Assets.at("stylesheets/bootmetro-responsive.css")">
        <link rel="stylesheet" type="text/css" href="@routes.Assets.at("stylesheets/bootmetro-icons.css")">
        <link rel="stylesheet" type="text/css" href="@routes.Assets.at("stylesheets/bootmetro-ui-light.css")">
        <link rel="stylesheet" type="text/css" href="@routes.Assets.at("stylesheets/bootstrap/simple-sidebar.css")">
        <script src="@routes.Assets.at("javascripts/bootstrap/jquery.js")"></script>
        <script src="@routes.Assets.at("javascripts/bootstrap/bootstrap.js")"></script>
        <div class="navbar">
        <div class="navbar-inner">
             <div class="row-fluid">
                 <div class="span6">
                    <a class="brand" href="/landing">TeamedUp</a>
                     <ul class="nav">
                        <li><a href="/mainPage">Main Page</a></li>
                        <li class="active"><a href="#">Team @teamName</a></li>
                    </ul>
                 </div>
                 <div class="span6" align="right">
                     <div class="btn-group">
                        <button class="btn" href="#menu-toggle" id="menu-toggle">Daily schedule</button>
                        <form action="/profile/@Application.currentClient.email">
                            <button class="btn" href="/profile">Profile</button>
                        </form>
                            <button class="btn" onclick="drop()" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false" href="#"><span class="badge">@unreadNum</span> unread</button>
                            <ul class="dropdown-menu pull-right unread" role="menu" arie-labelledby="dLabel">
                            @for(task <- Unread.getUnreadTasks(Application.currentClient)) {
                                <li>
                                    @helper.form(routes.Application.redirectUnreadTask(task.taskId)) {
                                    <a href="#" onclick="$(this).closest('form').submit()">A new task: @task.taskName</a><br>
                                    }
                                </li>
                            }<hr>
                            @for(event <- Unread.getUnreadEvents(Application.currentClient)) {
                                <li>
                                    @helper.form(routes.Application.redirectUnreadEvent(event.id)) {
                                    <a href="#" onclick="$(this).closest('form').submit()">@event.ownerName created event @event.eventName</a><br>
                                    }
                                </li>
                            }<hr>
                            @for(comment <- Unread.getUnreadComments(Application.currentClient)) {
                                <li>
                                    @helper.form(routes.Application.redirectUnreadComment(comment.id)) {
                                    @defining(if (comment.content.length() > 20) comment.content.substring(0,20) + "..." else comment.content) { cont =>
                                        <a href="#" onclick="$(this).closest('form').submit()">@comment.ownerName commented:</strong>  @cont</a><br>
                                    }
                                    }
                                </li>
                            }
                            </ul>
                        @helper.form(routes.Application.logout()) {
                            <button class="btn" href="/landing">Logout</button> 
                        }
                     </div>
                </div>
             </div>
          </div>
       </div>
    </head>
    
<body>
        <div id="wrapper" class="toggled">
            <div id="sidebar-wrapper">
                <ul class="sidebar-nav">
                    <div align="center">
                        @helper.form(routes.Application.eventPage()) {
                            <button id="not-shit-text" style="padding: 2px 2px; background-color: #366b96; color: white; margin-top: 8px;" type="submit">Create a new event</button><br>
                        }   
                    </div>   
                   <div class="container">
                   <hr>
                    @for(e <- Event.findDailySchedule(Application.currentClient)){
                        <li>    
                            @helper.form(routes.Application.showEventInfo(e.eventName)) {
                                <ul style="color: white;">
                                <a href="#" style="color: white; text-decoration: underline;" onclick="$(this).closest('form').submit()"><h3>@e.eventName</h3></a>
                                <li id="li-event">At @e.location</li>
                                <li id="li-event">Start: @e.startTime</li>
                                <li id="li-event">End: @e.endTime</li>
                                </ul>
                            }
                            <hr>
                        </li>
                    }
                    </div>
                </ul>
            </div>
        </div>

<div class="container" id="fill">
<h1>Team: @teamName</h1>
<div class="row-fluid" id="fill" style="margin-top:-20px;">
    <div class="span4 well well-small div-list" style="overflow-y: scroll;" id="fill">
        <ul class="list-group">
            <li class="list-group-item"><h2>Team members:</h2></li>
        @for(team <- teams) {
            
            <li class="list-group-item">
                <form action="/profile/@team.memberEmail">
                    <button class="list-button" type="submit">@team.memberEmail</button>
                </form>
                @helper.form(routes.Application.deleteUserFromTeam(team.memberEmail)) {
                <button class="delete">x</button>
                }
            </li>
           
        }
        @helper.form(routes.Application.addUserToTeam(teamName)) {
            <input name="email" placeholder="email address"><br>
            <button type="submit">Add a member</button><br>
        }
        </ul>

    </div>
    <div class="span8 well well-small clouds" style="overflow-y: scroll;" id="fill">
            <ul class="nav nav-tabs" role="tablist" id="myTab">
              <li role="presentation" class="active">
                <a id="ontop" onclick="$('tasks').tab('show')" href="#tasks" aria-controls="tasks" role="tab" data-toggle="tab">Tasks</a>
              </li>
              <li role="presentation">
                <a id="ontop" "$('posts').tab('show')" href="#posts" aria-controls="posts" role="tab" data-toggle="tab">Posts</a>  
              </li>
            </ul>
            
            <div class="tab-content">
              <div role="tabpanel" class="tab-pane fade in active" id="tasks">
                <div class="metro">
                    @if(tasks.size() == 0){
                        <h1>You have no tasks</h1>
                        <h2>You can add a new task using the button below</h2>
                    }
                    @for(task <- tasks) {

                        @defining(if (task.status.equals("In Progress")) "bg-color-green" else "bg-color-blue") { color =>
                            <a class="tile square text tilesquareblock @color" href="/taskPage/@task.taskName">
                                <div class="text">@task.taskName</div>
                                @defining(if (task.content.length() > 9) task.content.substring(0,8) + "..." else task.content) { cont =>
                                <div class="text">@cont</div>
                                }
                            </a>    
                        }
                    }  
                        <a class="tile square image" href="#" data-toggle="modal" data-target="#myModalT" rel="tooltip" title="Add a new task" style="background: transparent;">
                            <img src="@routes.Assets.at("images/add_task.png")">
                        </a>
                </div>
              </div>
              <div role="tabpanel" class="tab-pane fade" id="posts">
                <div class="metro">
                    @if(posts.size() == 0){
                        <h1>You have no posts</h1>
                        <h2>You can add a new post using the button below</h2>
                    }
                    @for(post <- posts) {
                        <a class="tile square text tilesquareblock bg-color-purple" href="/postPage/@post.postName">
                            <div class="text">Post:</div>
                            <div class="text">@post.postName</div>
                            @defining(if (post.content.length() > 9) post.content.substring(0,8) + "..." else post.content) { cont =>
                                <div class="text">@cont</div>
                            }
                        </a>
                    }
                        <a class="tile square image" href="#" data-toggle="modal" data-target="#myModalP" rel="tooltip" title="Add a new task" style="background: transparent;">
                            <img src="@routes.Assets.at("images/add_task.png")">
                        </a>
                </div>
              </div>
            </div>
    </div>
</div>

<!-- Modal -->
    <div class="modal hide fade" id="myModalT" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"></button>
            <h4 class="modal-title" id="myModalLabel">Create</h4>
          </div>
          <div class="modal-body">
              <div class="row-fluid">
                    <div class="span4 offset4" align="center">
                        @helper.form(routes.Application.createTask()) {
                            <input name="taskName" placeholder="task name" id="text-inmodal"><br>
                            <textarea name="content" cols="40" rows="5" placeholder="description" id="text-inmodal"></textarea> <br>
                            <button type="submit">Create</button><br>
                        }
                    </div>
                </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>


<!-- Modal -->
    <div class="modal hide fade" id="myModalP" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"></button>
            <h4 class="modal-title" id="myModalLabel">Create</h4>
          </div>
          <div class="modal-body">
              <div class="row-fluid">
                    <div class="span4 offset4" align="center">
                        @helper.form(routes.Application.createPost()) {
                            <input name="postName" placeholder="post name" id="text-inmodal"><br>
                            <textarea name="content" cols="40" rows="5" placeholder="description" id="text-inmodal"></textarea> <br>
                            <button type="submit">Create</button><br>
                        }
                    </div>
                </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>
            <!-- Menu Toggle Script -->
            <script>
            $("#menu-toggle").click(function(e) {
                $("#wrapper").toggleClass("toggled");
            });
            </script>
            <script>
            function drop(){
                $('.dropdown-toggle').dropdown();                
            }
            </script>
</body>
</html>


}