@(commonTimeList : java.util.List[String])

    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="@routes.Assets.at("stylesheets/style.css")" type="text/css">
        <link href='http://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" type="text/css" href="@routes.Assets.at("stylesheets/bootmetro.css")">
        <link rel="stylesheet" type="text/css" href="@routes.Assets.at("stylesheets/bootmetro-responsive.css")">
        <link rel="stylesheet" type="text/css" href="@routes.Assets.at("stylesheets/bootmetro-icons.css")">
        <link rel="stylesheet" type="text/css" href="@routes.Assets.at("stylesheets/bootmetro-ui-light.css")">
        <link rel="stylesheet" type="text/css" href="@routes.Assets.at("stylesheets/datepicker.css")">
        <script src="@routes.Assets.at("javascripts/modernizr-2.6.2.min.js")"></script>
        <div class="navbar navbar-static-top">
        <div class="navbar-inner">
             
             <div class="row-fluid">
             
                 <div class="span6">
                    <a class="brand" href="/landing">TeamedUp</a>
                     <ul class="nav">
                        <li><a href="/landing">Home</a></li>
                        <li><a href="/mainPage">Main Page</a></li>
                    </ul>
                 </div>
                 <div class="span6" align="right">
                     <div class="btn-group">
                        <form action="/profile">
                            <button class="btn" href="/profile">Profile</button>
                        </form>

                        @helper.form(routes.Application.landing()) {
                            <button class="btn">Logout</button> 
                        }
                        
                     </div>
                </div>
             </div>
             
          </div>
       </div>
    </head>

<div class="container-fluid well" align="center">
    <h2>Below are the time slots when all the members are free, choose one for your event</h2>
</div>

<div class="row-fluid">
    <div class="span4 offset4 well">
        <ul class="list-group">
        @for(slot <- commonTimeList) {
        <li class="list-group-item">
            @helper.form(routes.Application.chooseCommonTime(slot)) {
            <button class="list-button-time" type="submit">@slot</button>
            }
        </li>
        }
        </ul>
        @helper.form(routes.Application.eventPage()) {
        <button type="submit">Go back</button><br>
        }
    </div>
</div>