    <div class="container-fluid" id="fill" align="center">
        <h2>Below are the time slots when all the members are free, choose one for your event</h2>
        <div class="row-fluid" id="fill">
            <div class="span6 offset3 well">
                <ul class="list-group">
                @for(slot <- Event.timeListToString(Event.findWeeklyCommonFreetime(Application.eventUserList, Event.currentDate()))) {
                <li class="list-group-item">
                    @helper.form(routes.Application.chooseCommonTime(slot)) {
                    <button class="list-button-time" type="submit">@slot</button>
                    }
                </li>
                }
                </ul>
                @helper.form(routes.Application.eventPage()) {
                <button type="submit">Go back</button><br>
                }
            </div>
        </div>
    </div>
