@(team: models.Team, unreadNum: Integer)

@main("Create a new Task") {

@helper.form(routes.Application.unreadPage()) {
<button type="submit">@unreadNum unread</button><br>
}

@helper.form(routes.Application.createTask()) {
<input name="taskName" placeholder="task name"><br>

<textarea name="content" cols="40" rows="5" placeholder="description"></textarea>
<button type="submit">Create</button><br>
}

@helper.form(routes.Application.teamPage(team.teamName)) {
<button type="submit">Go back</button><br>
}

}