@(users : java.util.List[User], teamName : String)

@main("Event") {

<div class="container well" align="center">
    <h2>Add all users before for the events </h2>
</div>

@for(user <- users) {

<li class="list-group-item">
    <button class="list-button" type="submit">
        @user.email
    </button>
    @helper.form(routes.Application.deleteUserFromEventList(user.email)) {
    <button class="delete">x</button>
    }
</li>

}


@helper.form(routes.Application.addUserToEvent()) {
<input name="email" placeholder="email address"><br>
<button type="submit">Add</button><br>
}

@helper.form(routes.Application.commonTimeList()) {
<button type="submit">Create</button><br>
}

@helper.form(routes.Application.teamPage(teamName)) {
<button type="submit">Go back</button><br>
}

}