@(users: java.util.List[models.User], error: String)
<!DOCTYPE html>

    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="@routes.Assets.at("stylesheets/style.css")" type="text/css">
        <link href='http://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" type="text/css" href="@routes.Assets.at("stylesheets/bootmetro.css")">
        <link rel="stylesheet" type="text/css" href="@routes.Assets.at("stylesheets/bootmetro-responsive.css")">
        <link rel="stylesheet" type="text/css" href="@routes.Assets.at("stylesheets/bootmetro-icons.css")">
        <link rel="stylesheet" type="text/css" href="@routes.Assets.at("stylesheets/bootmetro-ui-light.css")">
        <link rel="stylesheet" type="text/css" href="@routes.Assets.at("stylesheets/datepicker.css")">
        <script src="@routes.Assets.at("javascripts/modernizr-2.6.2.min.js")"></script>
        <script src="@routes.Assets.at("javascripts/bootstrap/bootstrap.js")"></script>
        <script src="@routes.Assets.at("javascripts/bootstrap/bootstrap.min.js")"></script>
        <script src="@routes.Assets.at("javascripts/bootstrap/jquery.js")"></script>
        <div class="navbar">
            <div class="navbar-inner">
                 <a class="brand" href="#">Barbecrew</a>
                 <ul class="nav">
                    <li><a href="/landing">Home</a></li>
                    <li class="active"><a href="#">Register</a></li>
                 </ul>
            </div>
            @if(error.length() >0){
         <div class="alert">
          <button type="button" class="close" data-dismiss="alert"><a data-dismiss="alert" href="#"></a></button>
          <strong>Warning!</strong> There must have been an error in your entered details. Please try again. @error
        </div>
        <script>
            $(".alert").alert()     
        </script>
        }
                <script type="text/javascript" src="@routes.Assets.at("javascripts/bootstrap.min.js")"></script> 
       </div>
       
    </head>

<body>


    <div class="container">

        <h1 align="center">Create a new account</h1>
        <div class="row-fluid" id="login-div">
        
            <div class="well span4 offset4" align="center">
                
                   @helper.form(routes.Application.createUser()) {
                       <input name="email" placeholder="Email address"><br>
                       <input name="password" placeholder="Password"><br>
                       <input name="password2" placeholder="Comfirm password"><br>
                       <input name="name" placeholder="Name"><br>
                       <button type="submit">Create</button>
                   }
                   @helper.form(routes.Application.landing()) {
                       <button type="submit">Go back</button>
                   }
               </div>
           </div>
           <div class="row metro">
                @for(user <- users) {
                    @helper.form(routes.Application.deleteUserFromDB(user.email)) {
                        <button class="tile square text" type="submit">
                            <div class="text">@user.email</div>
                            <div class="text">@user.name</div>
                            <div class="text">@user.password</div>
                        </button>
                    }
                }
               
           </div>
    </div>
                    <!-- jQuery -->
        <script src="@routes.Assets.at("javascripts/bootstrap/jquery.js")"></script>
    
        <!-- Bootstrap Core JavaScript -->
        <script src="@routes.Assets.at("javascripts/bootstrap/bootstrap.min.js")"></script>
        <script type="text/javascript" src="@routes.Assets.at("javascripts/bootstrap.min.js")"></script>  
        <script type="text/javascript" src="@routes.Assets.at("javascripts/bootmetro-panorama.js")"></script> 
        <script type="text/javascript" src="@routes.Assets.at("javascripts/bootmetro-pivot.js")"></script> 
        <script type="text/javascript" src="@routes.Assets.at("javascripts/bootmetro-charms.js")"></script> 
</body>


</html>