@(teamName: String, teams : java.util.List[Team], tasks : java.util.List[Task], posts : java.util.List[Post], unreadNum : Integer)

@main(teamName) {
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="@routes.Assets.at("stylesheets/style.css")" type="text/css">
        <link href='http://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" type="text/css" href="@routes.Assets.at("stylesheets/bootmetro.css")">
        <link rel="stylesheet" type="text/css" href="@routes.Assets.at("stylesheets/bootmetro-responsive.css")">
        <link rel="stylesheet" type="text/css" href="@routes.Assets.at("stylesheets/bootmetro-icons.css")">
        <link rel="stylesheet" type="text/css" href="@routes.Assets.at("stylesheets/bootmetro-ui-light.css")">
        <link rel="stylesheet" type="text/css" href="@routes.Assets.at("stylesheets/datepicker.css")">
        <script src="@routes.Assets.at("javascripts/modernizr-2.6.2.min.js")"></script>
        <div class="navbar navbar-static-top">
        <div class="navbar-inner">
             
             <div class="row-fluid">
             
                 <div class="span6">
                    <a class="brand" href="/landing">TeamedUp</a>
                     <ul class="nav">
                        <li><a href="/landing">Home</a></li>
                        <li><a href="/mainPage">Main Page</a></li>
                        <li class="active"><a href="#">@teamName</a></li>
                    </ul>
                 </div>
                 <div class="span6" align="right">
                     <div class="btn-group">
                     @helper.form(routes.Application.dailySchedule()) {
    <button type="submit"><h3>Daily schedule</h3></button><br>
    }
                        <form action="/profile">
                            <button class="btn" href="/profile">Profile</button>
                        </form>
                            <button class="btn" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false" href="#">@unreadNum unread</button>
                            <ul class="dropdown-menu pull-right unread" role="menu" arie-labelledby="dLabel">
                            @for(task <- Unread.getUnreadTasks(Application.currentUser)) {
                                <li>
                                    @helper.form(routes.Application.redirectUnreadTask(task.taskId)) {
                                    <button type="submit"><h3> A new task @task.taskName is created</h3></button><br>
                                    }
                                </li>
                            }
                            @for(comment <- Unread.getUnreadComments(Application.currentUser)) {
                                <li>
                                    @helper.form(routes.Application.redirectUnreadComment(comment.id)) {
                                    <button type="submit"> <h3> <strong>@comment.ownerName:</strong>  @comment.content</h3></button><br>
                                    }
                                </li>
                            }
                            </ul>
                        <script>$('.dropdown-toggle').dropdown()</script>
                        @helper.form(routes.Application.landing()) {
                            <button class="btn">Logout</button> 
                        }
                        
                     </div>
                </div>
             </div>
             
          </div>
       </div>
    </head>
    
<body>
<div class="container" id="fill">
<h1 align="center">Team: @teamName</h1>

@helper.form(routes.Application.eventPage()) {
<button type="submit">Create a new event</button><br>
}

<div class="row-fluid" id="fill">
    <div class="span4 well well-small div-list" style="overflow-y: scroll;" id="fill">
        <ul class="list-group">
            <li class="list-group-item"><h2>Team members:</h2></li>
        @for(team <- teams) {
            
            <li class="list-group-item">
                <button class="list-button" type="submit">
                    @team.memberEmail
                </button>
                @helper.form(routes.Application.deleteUserFromTeam(team.memberEmail)) {
                <button class="delete">x</button>
                }
            </li>
           
        }
        @helper.form(routes.Application.addUserToTeam(teamName)) {
            <input name="email" placeholder="email address"><br>
            <button type="submit">Add a member</button><br>
        }
        </ul>

    </div>
    <div class="span8 well well-small" style="overflow-y: scroll;" id="fill">
    
    
    
    
   
        
            <ul class="nav nav-tabs" role="tablist" id="myTab">
              <li role="presentation" class="active">
                <a id="ontop" href="#tasks" aria-controls="tasks" role="tab" data-toggle="tab">Tasks</a>
              </li>
              <li role="presentation">
                <a id="ontop" href="#posts" aria-controls="posts" role="tab" data-toggle="tab">Posts</a>  
              </li>
            </ul>
            
            <div class="tab-content">
              <div role="tabpanel" class="tab-pane fade in active" id="tasks">
                <div class="metro">
                       <button class="win-command orange add-team" type="button" data-toggle="modal" data-target="#myModalT" rel="tooltip" title="Add a new task">
                            <span class="win-commandimage win-commandring"><img src="@routes.Assets.at("images/plus.png")"></span>
                        </button>  
                    @for(task <- tasks) {
                    @if(tasks.size() == 0){
                        <h1>You have no tasks</h1>
                        <h2>You can add a new task using the button on the right</h2>
                    }
                        @defining(if (task.status.equals("In Progress")) "bg-color-green" else "bg-color-blue") { color =>
                            <a class="tile square text tilesquareblock @color" href="/taskPage/@task.taskName">
                                <div class="text">@task.taskName</div>
                                @defining(if (task.content.length() > 9) task.content.substring(0,8) + "..." else task.content) { cont =>
                                <div class="text">@cont</div>
                                }
                            </a>    
                        }
                        
                    }              
                </div>
              </div>
              <div role="tabpanel" class="tab-pane fade" id="posts">
                <div class="metro">
                        <button class="win-command orange add-team" type="button" data-toggle="modal" data-target="#myModalP" rel="tooltip" title="Add a new post">
                            <span class="win-commandimage win-commandring"><img src="@routes.Assets.at("images/plus.png")"></span>
                        </button>
                    @if(posts.size() == 0){
                        <h1>You have no posts</h1>
                        <h2>You can add a new post using the button on the right</h2>
                    }
                    @for(post <- posts) {
                        <a class="tile square text tilesquareblock bg-color-purple" href="/postPage/@post.postName">
                            <div class="text">Post:</div>
                            <div class="text">@post.postName</div>
                            @defining(if (post.content.length() > 9) post.content.substring(0,8) + "..." else post.content) { cont =>
                                <div class="text">@cont</div>
                            }
                        </a>
                    }
                </div>
              </div>
            </div>
            
            <script>
              $(function () {
                $('#myTab a:last').tab('show')
              })
            </script>
    
        
        

    </div>
</div>

<!-- Modal -->
    <div class="modal hide fade" id="myModalT" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"></button>
            <h4 class="modal-title" id="myModalLabel">Create</h4>
          </div>
          <div class="modal-body">
              <div class="row-fluid">
                    <div class="span4 offset4" align="center">
                        @helper.form(routes.Application.createTask()) {
                            <input name="taskName" placeholder="task name" id="text-inmodal"><br>
                            <textarea name="content" cols="40" rows="5" placeholder="description" id="text-inmodal"></textarea> <br>
                            <button type="submit">Create</button><br>
                        }
                    </div>
                </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>
</body>

<!-- Modal -->
    <div class="modal hide fade" id="myModalP" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"></button>
            <h4 class="modal-title" id="myModalLabel">Create</h4>
          </div>
          <div class="modal-body">
              <div class="row-fluid">
                    <div class="span4 offset4" align="center">
                        @helper.form(routes.Application.createPost()) {
                            <input name="postName" placeholder="post name" id="text-inmodal"><br>
                            <textarea name="content" cols="40" rows="5" placeholder="description" id="text-inmodal"></textarea> <br>
                            <button type="submit">Create</button><br>
                        }
                    </div>
                </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>
</body>
   

            <!-- jQuery -->
        <script src="@routes.Assets.at("javascripts/bootstrap/jquery.js")"></script>
    
        <!-- Bootstrap Core JavaScript -->
        <script src="@routes.Assets.at("javascripts/bootstrap/bootstrap.min.js")"></script>
    


</div>
}