<!doctype html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="@routes.Assets.at("stylesheets/bootstrap/simple-sidebar.css")">
    <link rel="stylesheet" type="text/css" href="@routes.Assets.at("stylesheets/bootmetro.css")">
    <script src="@routes.Assets.at("javascripts/bootstrap/jquery.js")"></script>
    <script src="@routes.Assets.at("javascripts/bootstrap/bootstrap.js")"></script>
</head>

<body>

                            <button class="btn" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false" href="#"><span class="badge">2</span> unread</button>
                            <ul class="dropdown-menu pull-right unread" role="menu" arie-labelledby="dLabel">

                            </ul>
        <button class="btn" href="#menu-toggle" id="menu-toggle">Daily schedule</button>
            <div id="wrapper" class="toggled">
            <div id="sidebar-wrapper">
                <ul class="sidebar-nav">
                   <div class="container">
              <hr>

                    </div>
                </ul>
            </div>
        </div>
                        <!-- Menu Toggle Script -->
        <script>
        $("#menu-toggle").click(function(e) {
            $("#wrapper").toggleClass("toggled");
        });
        </script>
                    <script>
            function drop(){
                $('.dropdown-toggle').dropdown();                
            }
            </script>
</body>
</html>
