<!DOCTYPE html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Example</title>
        <link rel="stylesheet" href="@routes.Assets.at("stylesheets/style.css")" type="text/css">
        <link href='http://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" type="text/css" href="@routes.Assets.at("stylesheets/bootmetro.css")">
        <link rel="stylesheet" type="text/css" href="@routes.Assets.at("stylesheets/bootmetro-responsive.css")">
        <link rel="stylesheet" type="text/css" href="@routes.Assets.at("stylesheets/bootmetro-icons.css")">
        <link rel="stylesheet" type="text/css" href="@routes.Assets.at("stylesheets/bootmetro-ui-light.css")">
        <link rel="stylesheet" type="text/css" href="@routes.Assets.at("stylesheets/datepicker.css")">
        <script src="@routes.Assets.at("javascripts/modernizr-2.6.2.min.js")"></script>
        <div id="nav-bar" class="navig" bgcolor="silver">
            <div class="row">
                <div class="span9">
                    <div id="header-container">
                    <a id="backbutton" class="win-backbutton" href="http://localhost:9000/landing"></a>
                        <div class="dropdown">
                            <h1 class="header-dropdown accent-color">Back to landing</h1>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
    </head>
    
    <body>
        <div class="container">
            <h1>Main header</h1>
            <h2>Secondary headerk</h2>
            <div class="row">
                <div class="span4">
                    <h3>Task 1</h3>
                    <p>A little bit of text</p>
                </div>
                <div class="span4">
                    <h3>Task 2</h3>
                    <p>Even more dummy text</p>
                </div>
                <div class="span4">
                    <h3>Task 3</h3>
                    <p>Once more, some text</p>
                </div>
                <div class="span4">
                    <h3>Task 4</h3>
                    <p>Text text text text text text text text text text text text text text text text text text text</p>
                </div>
                 <div class="span4">
                    <h3>Task 5</h3>
                    <p>so muuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuch text here</p>
                </div>
            </div>
        </div>
        <div class="metro">
            <h1>Metro style DIV</h1>
            <a class="tile squarepeek bg-color-green" href="http://google.com">
                <img src="http://icons.iconarchive.com/icons/graphics-vibe/simple-rounded-social/256/google-icon.png">
                <div class = "text-inner">
                    <div class="text-header">Google.com</div>
                    <div class="text4">This will take you to google</div>
                </div>    
            </a>
            <a class="tile square text" href="http://facebook.com">
                
                    <div class="text-header">FB</div>
                    <div class="text4">This will take you to facebook</div>
               
            </a>
             <a class="tile wide text" href="#">
                <div class="text-header">Wide tile</div>
                <div class="text">Line 1</div>
                <div class="text">Line 2</div>
                <div class="text">Line 3</div>
                <div class="text">Line 4</div>
            </a>
  
        </div>
        <script type="text/javascript" src="@routes.Assets.at("javascripts/bootstrap.min.js")"></script>  
        <script type="text/javascript" src="@routes.Assets.at("javascripts/bootmetro-panorama.js")"></script> 
        <script type="text/javascript" src="@routes.Assets.at("javascripts/bootmetro-pivot.js")"></script> 
        <script type="text/javascript" src="@routes.Assets.at("javascripts/bootmetro-charms.js")"></script> 

    </body>
</html>