<!DOCTYPE html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Example</title>
        <link rel="stylesheet" href="@routes.Assets.at("stylesheets/style.css")" type="text/css">
        <link href='http://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" type="text/css" href="@routes.Assets.at("stylesheets/bootmetro.css")">
        <link rel="stylesheet" type="text/css" href="@routes.Assets.at("stylesheets/bootmetro-responsive.css")">
        <link rel="stylesheet" type="text/css" href="@routes.Assets.at("stylesheets/bootmetro-icons.css")">
        <link rel="stylesheet" type="text/css" href="@routes.Assets.at("stylesheets/bootmetro-ui-light.css")">
        <link rel="stylesheet" type="text/css" href="@routes.Assets.at("stylesheets/datepicker.css")">
        <link rel="stylesheet" type="text/css" href="@routes.Assets.at("stylesheets/bootstrap/simple-sidebar.css")">
        <script src="@routes.Assets.at("javascripts/bootstrap/bootstrap.js")"></script>
        <script src="@routes.Assets.at("javascripts/bootstrap/bootstrap.min.js")"></script>
        <script src="@routes.Assets.at("javascripts/bootstrap/jquery.js")"></script>
        <div id="nav-bar" class="navig" bgcolor="silver">
            <div class="row">
                <div class="span9">
                    <div id="header-container">
                    <a id="backbutton" class="win-backbutton" href="http://localhost:9000/landing"></a>
                        <div class="dropdown">
                            <h1 class="header-dropdown accent-color">Back to landing</h1>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
    </head>
    
    <body>
        <div id="wrapper">
            <div id="sidebar-wrapper">
                <ul class="sidebar-nav">
                    <li class="sidebar-brand">
                        <a href="#">
                            Start Bootstrap
                        </a>
                    </li>
                    <li>
                        <a href="#">Dashboard</a>
                    </li>
                    <li>
                        <a href="#">Shortcuts</a>
                    </li>
                    <li>
                        <a href="#">Overview</a>
                    </li>
                    <li>
                        <a href="#">Events</a>
                    </li>
                    <li>
                        <a href="#">About</a>
                    </li>
                    <li>
                        <a href="#">Services</a>
                    </li>
                    <li>
                        <a href="#">Contact</a>
                    </li>
                </ul>
            </div>
            <div id="page-content-wrapper">
                <a href="#menu-toggle" class="btn btn-default" id="menu-toggle">Toggle Menu</a>
            </div>
    
        </div>
        
            <!-- jQuery -->
        <script src="@routes.Assets.at("javascripts/bootstrap/jquery.js")"></script>
    
        <!-- Bootstrap Core JavaScript -->
        <script src="@routes.Assets.at("javascripts/bootstrap/bootstrap.min.js")"></script>
    
        <!-- Menu Toggle Script -->
        <script>
        $("#menu-toggle").click(function(e) {
            e.preventDefault();
            $("#wrapper").toggleClass("toggled");
        });
        </script>
        
    

        <script type="text/javascript" src="@routes.Assets.at("javascripts/bootstrap.min.js")"></script>  
        <script type="text/javascript" src="@routes.Assets.at("javascripts/bootmetro-panorama.js")"></script> 
        <script type="text/javascript" src="@routes.Assets.at("javascripts/bootmetro-pivot.js")"></script> 
        <script type="text/javascript" src="@routes.Assets.at("javascripts/bootmetro-charms.js")"></script> 

    </body>
</html>